<div class="about__container about">
  <div class="about__content-container">
    <span class="about__text">
      This site was designed and developed by: Dzmitry Harnakou
    </span>
    <span class="about__text">
      GitHub URL: <a class="about__link" href="https://github.com/DzmitryHarnakou/Dzmitry_Harnakou-project"> https://github.com/DzmitryHarnakou/Dzmitry_Harnakou-project </a>
    </span>
    <span class="about__text">
      GitHub pages : <a class="about__link" href=""> https://github.com/DzmitryHarnakou/Dzmitry_Harnakou-project </a>
    </span>
    <span class="about__text">
      Design: file.pdf
    </span>
  </div>
</div>
