<div class="scroll-top__container">
  <app-scroll-top (click)="scrollContainer.scrollTop = 0">
  </app-scroll-top>
  <div class="movie-list__container" [style.height] = "(showAddMovie$ | async) ? '60vh' : '90vh'"
                                     #scrollContainer 
                                     infiniteScroll [infiniteScrollDistance]="2"
                                     [infiniteScrollThrottle]="50" 
                                     [scrollWindow]="false" 
                                     (scrolled)="onScroll()">
    <app-list-item *ngFor="let i of (tvShowList$ | async).tvShowResults; let l = index" 
                   [itemTitle]='i.original_name'
                   [imgUrl]="i.poster_path" 
                   class="list-item list-item__container"
                   (click) = "getItem(i)"
                   routerLink = "/tvShows/details"
                   [isInLibrary] = "(isInLibrary$ | async)[l]">
    </app-list-item>
    <router-outlet class="subscribe-item subscribe-item-container"></router-outlet>
  </div>
</div>
