<div class="subscribe-item subscribe-item-container">
  <div class="subscribe-item__icon-close-container">
    <fa-icon [icon]="faTimes" (click)='goBack()' class="subscribe-item__icon-close"></fa-icon>
  </div>
  <div class="subscribe-item__header">
    <div [style.backgroundImage]="imgUrl" class="subscribe-item__img">
    </div>
    <div class="subscribe-item__title-container">
      <input type="button"  [value]="buttonValue"
                            (click)='setToLocal(); button.value = "Added"' 
                            #button
                            *ngIf = "showButton" 
                            class="subscribe-item__button">
      <p class="subscribe-item__title">
        {{itemDescription.original_title || itemDescription.original_name}}
      </p>
      <p class="subscribe-item__overview">
        {{itemDescription.overview}}
      </p>
    </div>
  </div>
  <div class="subscribe-item__release-date-container">
    <p class="subscribe-item__release-date">
      Release date: {{itemDescription.release_date || itemDescription.first_air_date}}
    </p>
    <label for="" class="subscribe-item__rating-label">Rating: {{itemDescription.vote_average}}</label>
    <div class="subscribe-item__rating">
      <div class="subscribe-item__average" [style.width]="voteWidth">
      </div>
    </div>
  </div>
</div>
