.movie-list__item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.movie-list__bg {
    background-color: rgb(26, 101, 132);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box;
    opacity: 0.9;
}

.movie-list__title{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.movie-list__in-library {
    font-size: 3em;
}

.item__button-delete {
    position: relative;
    bottom:2em;
    left: 1.5em;
    width: 0.5em;
    height: 0.5em;
}

.item__button-delete:hover {
    color: rgb(92, 92, 92);
}