<input    type="text" 
          class="search-item__input" 
          placeholder="Search..."
          [(ngModel)] = "inputValue"
          (input) = "getValue()"
          (keyup.enter) = "searchItems()"
          (focusout) = "inputValue = ''"
          >
<fa-icon  [icon] = "faSearch" 
          class="search-item__button" 
          (click) = "toggle()">
</fa-icon>
<app-search-form  *ngIf = "_searchFormService.showForm" 
                  [style.display] = "_searchFormService.displayForm">
</app-search-form>