.movie-list__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    background-color: rgb(38, 33, 38);
}

.scroll-top__container {
display: flex;
flex-direction: row;
align-items: center;
background-color:  rgb(38, 33, 38);
color: white;
}

.list-item__container {
    width: 13.33em;
    height:20em;
    margin-bottom: 1em;
}

.warning-message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(92, 92, 92); 
}

.warning-message__text{
    font-size: 3em;
}

.warning-message__icon{
    font-size: 7em;
}
