<div class="navigation-bar-header">
    <fa-icon [icon] = 'iconBars' 
             class="navigation-bar-header__button" 
             (click)=isCollapsed()></fa-icon>
    <div class="logo" *ngIf = "collapseBar">
        <fa-icon [icon] = 'iconClose' class="logo__icon"></fa-icon>
        <span class="logo__text">Logo</span>
    </div>
</div>
<app-side-navigation-bar-item 
                                [navIcon]='i.icon'
                                [showText]='collapseBar'
                                [navItemText]='i.text'
                                *ngFor="let i of _navigationService.items; let l = index"
                                [routerLink]="routerLink[l].path">
</app-side-navigation-bar-item>