<form cdkDrag appClickOutside (clickOutside) = "clickOutside($event)" class="search-form search_form__container">
  <div class="search_form__content-container">

    <h2 class="search_form__header">
      Advanced search
    </h2>

    <app-form-text-inputs class="search-form-inputs__container"
                         (titleValue) = "titleValue($event)"
                         (overviewValue) = "overviewValue($event)"
                         [titleIsValid] = "isValid"
                         [overviewIsValid] = "isValid"></app-form-text-inputs>

    <div class="search-form__progress-container">
      <app-checkbox [label]="'Adult'" (boolValue)='adultValue($event)'></app-checkbox>
      <app-progressBar [label]="'Popularity'" (getCurValue)="popularity($event)"></app-progressBar>
      <app-progressBar [label]="'Vote average'" (getCurValue)="voteAverage($event)"></app-progressBar>
    </div>

    <div class="search-form__labels-button-container">
     
      <app-form-labels (genreId) = "getGenreIds($event)" class="search-form-labels__container"></app-form-labels>

      <div class="search-form__button-container">
        <app-checkbox [label]="'Remember inputs'" (boolValue) = rememberInputs($event)></app-checkbox>
        <input type="submit" value="Search" class="search-form__button" (click)="submit()">
      </div>
    </div>

  </div>
</form>
