<form class="search-form search_form__container">
  <div class="search_form__content-container">

    <h2 class="search_form__header">
      Advanced search
    </h2>

    <div class="search-form__input-container">

      <div class="search-form__title-container">
        <label class="search-form__title-label">Title</label>
        <input type="text" class="search-form__title-input" placeholder="Title">
      </div>

      <div class="search-form__title-container">
        <label class="search-form__overview-label">Overview</label>
        <textarea rows="4" placeholder="Overview" class="search-form__overview-input"></textarea>
      </div>

    </div>

    <div class="search-form__progress-container">
      <app-checkbox [label]="'Adult'"></app-checkbox>
      <app-progressbar [label]="'Popularity'"></app-progressbar>
      <app-progressbar [label]="'Vote average'"></app-progressbar>
    </div>

    <div class="search-form__labels-button-container">
      <div class="search-form__labels-container">
        <app-checkbox [label]="label.text" *ngFor='let label of labels' class="search-form__labels-container-item"></app-checkbox>
      </div>

      <div class="search-form__button-container">
        <app-checkbox [label]="'Remember inputs'"></app-checkbox>
        <input type="button" value="Search" class="search-form__button">
      </div>
    </div>

  </div>
</form>
